@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #ed7966;
    --secondary-color: #1b1b1b;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100%;
   
}




.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    min-height: 10vh;
    padding-top: 0.5rem;
    
}
.navbar .nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-decoration: none;
    min-height: 10vh;
}

.navbar .nav-links li a{
    list-style: none;
    text-decoration: none;
    margin-right: 3.5rem;
    font-size: 1rem;
    letter-spacing: 2px;
    color: var(--secondary-color);
    transition: transform 0.5s ease-in;
}

.navbar .nav-links li a:hover {
    border-bottom: #ed7966 2px solid;
}

.navbar h2 {
    font-size: 2rem;
    font-weight: 500;
    color: var(--secondary-color);
    margin-left: 5rem;
}

.burger {
    display: none;
}

.burger div{
    width: 25px;
    height: 2px;
    background-color: var(--secondary-color);
    margin: 5px;
    transition: all 0.3s ease;
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem ;
    padding: 0 5rem;
    color: var(--secondary-color);

}

.home-left {
    font-family: 'Poppins', sans-serif;
}

.home-left h3 {
    font-weight: 500;
    font-size: 1.6rem;
    letter-spacing: 1px;
    line-height: 2rem;
}

.home-left h1 {
    font-weight: 600;
    font-size: 2.5rem;
    letter-spacing: 1px;
    line-height: 3rem;
    color: var(--main-color);
}

.home-left p {
    font-size: 1rem;
    letter-spacing: .8px;
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

.home-left button {
    text-decoration: none;
    border: none;
    background-color: var(--main-color);
    color: #ffffff;
    width: 10rem;
    border-radius: 5px;
    height: 2.5rem;
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

.home-left button a {
    text-decoration: none;
    color: #ffffff;
}

.home-left button:hover {
    background-color: var(--secondary-color);
    
}

.home .home-right {
    margin-right: 4rem;
} 

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 4rem;
    padding-top: 4rem;
    text-align: left
}

.about h3{
    font-size: 2rem;
    font-weight: 500;
}

.about p{
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
    margin-top: 2rem;
    padding: 1rem;
    border-left: var(--main-color) 5px solid;

}

.skills {
    justify-content: center;
    margin: 4rem;
    padding-top: 4rem;
    color: var(--secondary-color);
}

.skills h3{
    font-size: 2rem;
    font-weight: 500;
}

.skills h5 {
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

.skills-sections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: left;
    text-align: left;
}

.skills-sec {
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
    margin-top: 2rem;
    border-left: var(--main-color) 5px solid;
    padding: 1rem;
}

.skills-sections ul{
    list-style: none;
    text-decoration: none;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    margin: 4rem;
    padding-top: 4rem;
}

.projects h3 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.projects button {
    text-decoration: none;
    border: none;
    background-color: var(--main-color);
    color: #ffffff;
    width: 10rem;
    border-radius: 5px;
    height: 2.5rem;
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

.projects p {
    margin-bottom: 2rem;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
}

.projects button a {
    text-decoration: none;
    color: #ffffff;
}

.projects button:hover {
    background-color: var(--secondary-color);
    
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin: 4rem;
    padding-top: 4rem;
}

.contact h3 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.contact input {
    border: none;
    text-decoration: none;
    width: 50%;
    height: 3rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;
    border: var(--main-color) 1px solid;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    font-size: 1rem;
}

.contact .message {
    height: 9rem;
    padding: 1rem 1rem 5rem 1.5rem;
}

.contact button {
    text-decoration: none;
    border: none;
    background-color: var(--main-color);
    color: #ffffff;
    width: 10rem;
    border-radius: 5px;
    height: 2.5rem;
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

.contact button a {
    text-decoration: none;
    color: #ffffff;
}

.contact button:hover {
    background-color: var(--secondary-color);
    
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3rem;
    padding-top: 5rem;
}

.footer ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    margin-bottom: 1.5rem;
}

.footer ul li a{
    color: var(--secondary-color);
    margin: 3rem;
    font-size: 2rem;
}

.footer ul li a:hover {
    color: var(--main-color);
}

.footer p {
    font-size: 1.2rem;
}

hr {
    width: 80%;
    border: var(--main-color) 1px solid;
    height: 0.5px;
    margin-bottom: 4rem;
}

@media screen and (max-width:1024px) {
   
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 90vh;
        width: 50%;
        top: 10vh;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        margin-right: 3rem;
        cursor: pointer;
    }

    .nav-active {
        transform: translateX(0%);
    }

    @keyframes navLinkFade{
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px );
        }
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px,6px);
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-5px,-6px);
    }

    .home {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 5rem;
    }

    .home-right {
        margin-top: 3.5rem;
    }

    .skills-sections {
        display: grid;
        grid-template-columns: 1fr;
       
    }

    .skills-sec {
        margin-bottom: 1rem;
    }

    .contact input {
        width: 100%;
    }
}